.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
  color: white;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #6e819b;
}